/* CSS DOCUMENT */

/* This will contain all of our specifics info like defining how buttons or divs look..
   if they aren't going to be forms IDK if I'll keep it that way or not we'll see......*/

.jumbotron {
  position: relative;
  width:100%;
  max-width: 1000px;
  height: auto;
  min-height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 5px;
  line-height: 1.428571429;
  font-size: 18px;
  color: #555;
  background-image: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 1);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: inherit;
  background-color: white;
}

.jumbotron2 {
  position: relative;
  width:100%;
  max-width: 1000px;
  height: auto;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 5px;
  line-height: 1.428571429;
  font-size: 18px;
  color: #555;
  background-image: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 1);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: inherit;
  background-color: lightgrey;
}

.AuthorDiv {
  position: relative;
  width:1300px;
  max-width: 1500px;
  height: auto;
  max-height: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 5px;
  line-height: 1.428571429;
  font-size: 18px;
  color: #555;
  background-image: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 1);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: inherit;
  background-color: lightgrey;
}
.AuthorDiv2 {
  position: relative;
  width:100%;
  max-width: 600px;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 5px;
  line-height: 1.428571429;
  font-size: 18px;
  color: #555;
  background-image: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 1);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: inherit;
  background-color: white;
}
.AuthorDiv3 {
  position: relative;
  width:100%;
  max-width: 685px;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 5px;
  line-height: 1.428571429;
  font-size: 18px;
  color: #555;
  background-image: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 1);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: inherit;
  background-color: white;
}
.EditorDiv {
  position: relative;
  width:100%;
  max-width: 300px;
  height: 634px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 5px;
  line-height: 1.428571429;
  font-size: 18px;
  color: #555;
  background-image: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 1);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: inherit;
  background-color: white;
}
.EditorDiv2 {
  position: relative;
  width:100%;
  max-width: 500px;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 5px;
  line-height: 1.428571429;
  font-size: 18px;
  color: #555;
  background-image: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 1);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: inherit;
  background-color: white;
}

#login-bg {
  background-image:url('images/Lion_Facepalm.jpg');
}

.table {
	margin:0px;padding:0px;
	width:100%;
	border:3px solid #ECEAE8;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 1);
  box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 1);
}.table table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.table tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}
.table table tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}
.table table tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}
.table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}
.table tr:hover td{
	background-color:#ffffff;
		
}
.table tr{
  font-size:15px;
}
.table td{
	vertical-align:middle;
	background:-o-linear-gradient(bottom, #f2efed 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2efed), color-stop(1, #ffffff) ); 
	background:-moz-linear-gradient( center top, #f2efed 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2efed", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f2efed,ffffff);
	background-color:#f2efed;
	border:1px solid #686868;
	border-width:0px 1px 1px 0px;
	text-align:left;
	font-size:12px;
	font-family:Helvetica;
	font-weight:bold;
	color:#686868;
}.table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.table tr:first-child td{
		background:-o-linear-gradient(bottom, #fffbf7 5%, #e2e2e2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fffbf7), color-stop(1, #e2e2e2) );
	background:-moz-linear-gradient( center top, #fffbf7 5%, #e2e2e2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffbf7", endColorstr="#e2e2e2");	background: -o-linear-gradient(top,#fffbf7,e2e2e2);

	background-color:#fffbf7;
	border:0px solid #050404;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Helvetica;
	font-weight:bold;
	color:#0a0000;
}
.table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #fffbf7 5%, #e2e2e2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fffbf7), color-stop(1, #e2e2e2) );
	background:-moz-linear-gradient( center top, #fffbf7 5%, #e2e2e2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffbf7", endColorstr="#e2e2e2");	background: -o-linear-gradient(top,#fffbf7,e2e2e2);

	background-color:#fffbf7;
}
.table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.table tbody{
display:block;
height:500px;
overflow:auto;
}

.tablesmall {
	margin:0px;padding:0px;
	width:500px;         
	border:3px solid #ECEAE8;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 1);
  box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 1);
}.tablesmall tablesmall{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tablesmall tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}tablesmall tablesmall tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}
.tablesmall tablesmall tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}
.tablesmall tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}
.tablesmall tr:hover td{
	background-color:#ffffff;
		
}
.tablesmall tr{
  font-size:15px;
}
.tablesmall td{
	vertical-align:middle;
	background:-o-linear-gradient(bottom, #f2efed 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2efed), color-stop(1, #ffffff) ); 
	background:-moz-linear-gradient( center top, #f2efed 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2efed", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f2efed,ffffff);
	background-color:#f2efed;
	border:1px solid #686868;
	border-width:0px 1px 1px 0px;
	text-align:left;
	font-size:12px;
	font-family:Helvetica;
	font-weight:bold;
	color:#686868;
}.tablesmall tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tablesmall tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tablesmall tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tablesmall tr:first-child td{
		background:-o-linear-gradient(bottom, #fffbf7 5%, #e2e2e2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fffbf7), color-stop(1, #e2e2e2) );
	background:-moz-linear-gradient( center top, #fffbf7 5%, #e2e2e2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffbf7", endColorstr="#e2e2e2");	background: -o-linear-gradient(top,#fffbf7,e2e2e2);

	background-color:#fffbf7;
	border:0px solid #050404;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Helvetica;
	font-weight:bold;
	color:#0a0000;
}
.tablesmall tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #fffbf7 5%, #e2e2e2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fffbf7), color-stop(1, #e2e2e2) );
	background:-moz-linear-gradient( center top, #fffbf7 5%, #e2e2e2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffbf7", endColorstr="#e2e2e2");	background: -o-linear-gradient(top,#fffbf7,e2e2e2);

	background-color:#fffbf7;
}
.tablesmall tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tablesmall tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.tablesmall tbody{
display:block;
height:275px;
overflow:auto;
}
